{% extends "./base2.html" %}
{% load static %}
{% block title %}
Products
{% endblock %}
{% block content %}


<html>
<head>
  <title>My Page</title>
  <style>
    h2 {
      text-align: center;
      font-weight: bold;
    }
  </style>
</head>
<body>
  <h2>Products</h2>
</body>
</html>



<main style="background-color: red;">
  <div class="album py-5 bg-light" style="background-color: #d9b979 !important;">

    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">

        {% for product in products %}

        <div class="col">
          <div class="card shadow-sm">
          <img class="img-fluid" alt="image" src="{{ product.image.url }}">

            <div class="card-body">
              <p class="card-text">
                <a class="text-dark text-decoration-none" href="{{ product.get_absolute_url }}">{{ product.name }}</a>
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted">Afiseaza detalii</small>
              </div>
            </div>
          </div>
        </div>

        {% endfor %}

      </div>
    </div>
  </div>


</main>

{% endblock %}
