{% extends "./base.html" %}

{% load static %}
{% block title %}Charts{% endblock %}
{% block content %}

<div class="chart-container">
    <canvas id="myChart2"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    var ctx = document.getElementById('myChart2').getContext('2d');
    var chartData = {{ chart_data|safe }};
    var chart = new Chart(ctx, {
        type: 'line',
        data: chartData,
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true,
                        stepSize: 1,
                        max: 5,
                        fontColor: 'black'
                    }
                }],
                xAxes: [{
                    ticks: {
                        fontColor: 'black'
                    }
                }]
            }
        }
    });
</script>

<a href="{% url 'petshop:statistici' %}" class="btn btn-primary my-2" style="background-color: green;">Revenire</a>
<style>
  .btn {
    display: block;
    margin: 0 auto;
  }
</style>

<style>
    .chart-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh;
    }

    canvas {
        max-width: 100%;
        max-height: 100%;
    }
</style>
{% endblock %}