{% extends "./base2.html" %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}

<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="h1 fw-bold"><span style="color: #3895a8;">Articole pentru animalutul tau!</span></h1>
        <p class="lead text-muted"><span style="color: black;">Mancare, jucarii si o gama larga de suplimente pentru prietenul tau cel mai bun. Iar daca nu ai inca un prieten cel mai bun, nu uita sa verifici lista de adoptii! </span></p>
        <p><a href="{% url 'adoption:adoption_summary' %}" class="btn btn-primary my-2" style="background-color: #e64e4e;">Adopta un animal!</a></p>
        <p><a href="{% url 'petshop:statistici' %}" class="btn btn-primary my-2" style="background-color: #e64e4e;">Vizualizeaza grafice adoptii</a></p>
      </div>
    </div>
</section>

<div class="album py-5 bg-color" style="background-color:#d9b979;">
    <div class="container">
      <div class="pb-3 h5">All Products</div>
        <div class="row row-cols-1 row-cols-md-5 g-5">

        {% for product in products %}

        <div class="col">
          <div class="card shadow-sm">
            <img class="img-fluid" alt="Imagine" src="{{ product.image.url }}">
             <div class="card-body">
              <p class="card-text">
                <a class="text-dark text-decoration-none" href="{{ product.get_absolute_url }}">{{ product.name }}</a>
              </p>
              <div class="d-flex justify-content-between align-items-center">
              <small class="text-muted">Afiseaza detalii</small>
              </div>
            </div>
          </div>
        </div>
       {% endfor %}
      </div>
    </div>
</div>


{% endblock %}
