{% extends "./base2.html" %}
{% load static %}
{% block title %}Plaseaza comanda{% endblock %}
{% block content %}

<section class="py-5 text-center container">

    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
       <h1 class="h1 fw-bold"><span style="color: #e64e4e;">Plaseaza comanda</span></h1>
        <p class="lead text-muted"><span style="color: black;">Introduceti datele personale:</span> </p>

          <form method="post" id="myForm" action="{% url 'order:add' %}" >
             {% csrf_token %}
             {{ form.as_p }}

            <label for="nume"><span style="color: #3895a8; font-size: 22px;">Nume</span></label>
            <input type="text" class="form-control" name="nume" id="nume" placeholder="Nume">

            <label for="prenume"><span style="color: #3895a8; font-size: 22px;">Prenume</span></label>
            <input type="text" class="form-control" name="prenume" id="prenume" placeholder="Prenume">

            <label for="adresa"><span style="color: #3895a8; font-size: 22px;">Adresa</span></label>
            <input type="text" class="form-control" name="adresa" id="adresa" placeholder="Adresa">

            <label for="oras"><span style="color: #3895a8; font-size: 22px;">Oras</span></label>
            <input type="text" class="form-control" name="oras" id="oras" placeholder="Oras">

            <label for="zip"><span style="color: #3895a8; font-size: 22px;">Cod postal</span></label>
            <input type="text" class="form-control" name="zip" id="zip" placeholder="Cod postal">

            <button class="btn btn-primary my-2" style="background-color: #e64e4e;" type="submit" id="order" >Plaseaza comanda</button>
          </form>

         <a href="{% url 'basket:basket_summary' %}" class="btn btn-primary my-2" style="background-color: #3895a8;">Revenire</a>
      </div>
    </div>

</section>
<style>

 </style>
{% endblock %}
