{% extends "./base2.html" %}
{% load static %}
{% block title %}Cluj{% endblock %}
{% block content %}
<html>
<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Adapostul din Cluj-Napoca</h1>
        <p>Adresa: Municipiul Cluj Napoca, str. Bobalnei, nr. 65</p>
           <p>Program:   Luni – Vineri: 10.00 – 18.00</p>
        <p>
           <a href="{% url 'adoption:adoption_summary' %}" class="btn btn-primary my-2" style="background-color: #3895a8;">Inapoi</a>
        </p>
      </div>
    </div>
  </section>
</main>

<div class="album py-5">
    <div class="container">

      <div class="pb-3 h5">Toate animalele</div>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

       {% for pet in pet|slice:"11:20" %}

        <div class="col">
          <div class="card shadow-sm">
            <img class="img-fluid" alt="Imagine" src="{{ pet.image.url }}">
            <div class="card-body">
              <p class="card-text">
                <a class="text-dark text-decoration-none" href="{{ pet.get_absolute_url }}">{{pet.name}}</a>
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted">{{pet.description}}</small>
                 <a href="{% url 'adoption:formular' %}" class="btn btn-primary my-2" style="background-color: #e64e4e;">Adopta</a>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}

      </div>
    </div>
  </div>
  {% endblock %}
